<header class="navigation fixed-top no-highlight">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand font-tertiary h3" href="/" style="font-size: 2em;">
      {% if site.data.settings.logo %}
        <img src="/assets/images/logo.png" alt="{{ site.data.settings.title }}" class="logo">
      {% endif %}
      {% if page.layout == "wiki/default" %}teamhollow/{{ page.project_id }}{% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav ml-auto" style="margin-bottom: 10px;">
        {% for item in site.data.settings.menu %}
          <li class="nav-item {{ class }}">
            <a class="nav-link" href="{{ item.link }}">{{ item.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</header>
