<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.data.settings.title }}</title>
  
  <!-- open graph data -->
  <meta name="description" content="{% if page.description or page.og_description %}{{ page.description | truncate: 150 }}{{ page.widget_description | truncate: 150 }}{{ page.og_description }}{% else %}{{ site.data.settings.blurb }}{% endif %}" />
  <meta name="theme-color" content="{% if page.og_theme-color %}{{ page.og_theme-color }}{% else %}#F88A0E{% endif %}">

  <meta property="og:image" content="{% if page.image_path %}/{{ page.image_path }}{% elsif page.og_image %}{{ page.og_image }}{% else %}/assets/images/logo.png{%- endif -%}" />
  <meta property="og:type" content="website" />

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/assets/plugins/bootstrap/bootstrap.min.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="/assets/plugins/slick/slick.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="/assets/plugins/themify-icons/themify-icons.css">

  <!-- Main Stylesheet -->
  <link href="/assets/css/style.css" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="/assets/images/logo.png" type="image/x-icon">
  <link rel="icon" href="/assets/images/logo.png" type="image/x-icon">
</head>
