<!-- hero area -->
<section class="hero-area bg-primary no-highlight" id="parallax">
  <!-- <div class="container">
    <div class="row">
      <div class="col-lg-11 mx-auto">
        <h1 class="text-white font-tertiary">{{ site.data.settings.hero.hero-title }}</h1>
      </div>
    </div>
  </div> -->
  <!-- <div class="layer-bg w-75" center>
    <img class="img-fluid w-75" src="/assets/images/logos/teamhollow-horizontal.png" alt="bg-shape">
  </div> -->
  <!-- social icon -->
  <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
  </ul>
  <!-- /social icon -->
</section>
<!-- /hero area -->
