<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% if site.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}
  
  {% include header.html %}

  {{ content }}
  
  {% include footer.html %}

  <!-- jQuery -->
  <script src="/assets/plugins/jQuery/jquery.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="/assets/plugins/bootstrap/bootstrap.min.js"></script>
  <!-- slick slider -->
  <script src="/assets/plugins/slick/slick.min.js"></script>
  <!-- filter -->
  <script src="/assets/plugins/shuffle/shuffle.min.js"></script>
  <!-- anchorjs -->
  <script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js"></script>
  <script>
    anchors.options.icon = '#';
    anchors.options.visible = 'hover';
    anchors.options.placement = 'left';
    anchors.add('h2, h3, h4:not(.card-title), h5:not(.col-md-4-item), h6');
  </script>

  <!-- Main Script -->
  <script src="/assets/js/script.js"></script>
</body>

</html>
