---
layout: default
---
<!-- page title -->
<section class="page-title bg-primary position-relative"></section>
<!-- /page title -->

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="font-tertiary">{{ page.title | escape }}</h3>
        <p class="font-secondary"><i>Published on {{ page.date | date: '%b %d, %Y' }} by <span class="text-primary">{{ page.author }}</span class="text-primary"></i></p>
        <div class="content">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- blog -->
<!-- <section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">More</h2>
      </div>
      {% include blog_section.html %}
    </div>
  </div>
</section> -->
<!-- /blog -->
